:root {
  --body_background: rgb(255, 255, 255);
  --body_color: black;
  --navBar_Footer_color: black;
  --navBar_Hover_: rgb(69, 237, 94);
  --footer_background: rgb(163, 163, 163);
  --news_background_color: rgb(145, 148, 150);
  --news_title_color: rgb(69, 237, 94);
  --news_readMore_background_color: white;
  --news_readMore_color: rgb(0, 38, 255);
  --talkToUs_inputAndButtons_color: black;
  --talkToUs_fontButton_color:white;
  --talktoUs_InputtedText_color:black;
  --token_inputAndButtons_color: black;
  --token_fontButton_color:white;
  --aplication_downloadButton_background_color: rgb(38, 52, 255);
}
[data-theme="dark"]{
  --body_background: #242424;
  --body_color: white;
  --navBar_Footer_color: #D0ADF0;
  --navBar_Hover_: rgb(22, 22, 22);
  --footer_background: rgb(73, 73, 73);
  --news_background_color: #32015f;
  --news_title_color: rgb(69, 237, 94);
  --news_readMore_background_color: #242424;
  --news_readMore_color: rgb(69, 237, 94);
  --talkToUs_inputAndButtons_color: #D0ADF0;
  --talkToUs_fontButton_color:black;
  --talktoUs_InputtedText_color:white;
  --token_inputAndButtons_color: #D0ADF0;
  --token_fontButton_color:black;
  --aplication_downloadButton_background_color: #32015f;
}