  .hidden-checkbox { /*tira a chebox da tela*/
    display: none;
  }

  .custom-checkbox-label {
    cursor: pointer; /*faz a imagem ser clicavel sem precisar de um href*/
    display: inline-block;
  }
  .custom-checkbox-label img {
    margin-top: .5vh;
    width: 4vh;
    transition: 0.3s;
  }
  /* Estilo quando o checkbox está marcado */
  .hidden-checkbox:checked + .custom-checkbox-label img {
    filter: grayscale(100%); /* exemplo: imagem em preto e branco quando ativado */
  }
