.talkWithUs{
    display: grid;
    justify-content: center;
}
.pageText{
    font-size: 1.8vh;
    margin-bottom: .5%;
}
#contactUs{
    font-size: 160%;
    color: var(--talkToUs_inputAndButtons_color);
}