.peopleImages {
    margin-top: 1%;
    display: flex;
    align-items: center;
    width: 100%;
}

#sizeImage{
    clip-path: circle(45%);
    width: 60%;
}
.iconsForm a{
    display: grid;
    justify-items: center;
}
.githubIcon{
    width: 4vh;
    margin-bottom: 1%;
}
.textPage{
    float: left;
    width: 50%;
}
.textPage a {
    font-size: 2.5vh;
}
.videoProject{
    display: flex;
    justify-content: center;
    width: 50%;
}
@media screen and (max-width:525px){
    .textPage{
        float: none;
        width: 100%;
    }
    .videoProject{
        width: 100%;
        height: 400%;
    }

}