* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{ 
    background-color: rgb(73, 73, 73);
}
.footer a{
    color: #D0ADF0;
}
.SuggestionsForms{
    float: left;
    width: 50%;
}
.footers{
    float: right;
    width: 50%;
}
.topFooter{
    display: flex;
    justify-content: center;
    width: 100%;
}
.topFooter a{
    font-size: x-large;
    padding: .5%;
    text-decoration: none;
}

.midFooter{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.midFooter a{
    font-size: large;
    padding: .5%;
    text-decoration: none;
}

.bottomFooter{
    display: flex;
    justify-content: center;
    width: 100%;
}
.bottomFooter a{
    font-size: medium;
    padding: .5%;
}
.iconsForm a{
    display: grid;
    justify-items: center;
}
.githubIcon{
    width: 4vh;
}
