.newsDiv{
    background-color: #32015f;
    padding: .5%;
    margin-top: 1.5%;
    float: right;
    margin: 1.1%;
    width: 31%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui os elementos para colocar o botão embaixo */
    position: relative;
}
.newsDiv #title{
    color: rgb(69, 237, 94);
}
.newsDiv .titleDiv {
    display: flex;
    justify-content: center;
}
.imageDiv{
    display: flex;
    justify-content: center;
}
#newsImage{
    width: 100%;
    height: 28vh;
}
#noImage{
    width: 100%;
    height: 28vh;
}
.readMoreDiv {
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    margin: 1%;
}

#readMore {
    padding: 1%;
    background-color: #242424;
    text-decoration: none;
    color: rgb(69, 237, 94);
}
@media screen and (max-width:525px){
    .newsDiv{
    background-color: #32015f;
    padding: .5%;
    margin-top: 1.5%;
    height: 100%;
    float: none;
    margin-top: 10%;
    width: 100%;
}
#newsImage{
    width: 100%;
    height: 100%;
}
}