.newsDiv{
    background-color: var(--news_background_color);
    padding: .5%;
    float: right;
    margin: 1.1%;
    width: 31%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui os elementos para colocar o botão embaixo */
    position: relative;
}
.newsDiv #title{
    color: var(--news_title_color);
}
.newsDiv .titleDiv {
    display: flex;
    justify-content: center;
}
.newsDiv #newsDescription{
    text-align: justify;
}
.imageDiv{
    display: flex;
    justify-content: center;
}
#newsImage{
    width: 100%;
    height: 28vh;
}
#noImage{
    width: 100%;
    height: 28vh;
}
.readMoreDiv {
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    margin: 1%;
}

#readMore {
    padding: 1%;
    background-color: var(--news_readMore_background_color);
    text-decoration: none;
    color: var(--news_readMore_color);
}
@media screen and (max-width:1024px){
    .newsDiv{
        background-color: var(--news_background_color);
        padding: .5%;
        margin-top: 1.5%;
        float: none;
        margin-top: 10%;
        width: 100%;
        height: 100%;
    }
    #newsImage{
        width: 100%;
        height: 100%;
    }
}