.newsDiv{
    background-color: #32015f;
    padding: .5%;
    margin-top: 1.5%;
}
.newsDiv #title{
    color: rgb(69, 237, 94);
}
.newsDiv .titleDiv {
    display: flex;
    justify-content: center;
}